<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CoseanGE.ThemeColor" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="CoseanGE.Theme" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <CoseanGE.ThemeColor>
            <setting name="Top" serializeAs="String">
                <value>255, 83, 13</value>
            </setting>
            <setting name="Drawer" serializeAs="String">
                <value>255, 83, 13</value>
            </setting>
            <setting name="Panel" serializeAs="String">
                <value>255, 83, 13</value>
            </setting>
        </CoseanGE.ThemeColor>
        <CoseanGE.Theme>
            <setting name="Top" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>ss</value>
            </setting>
        </CoseanGE.Theme>
    </userSettings>
</configuration>
